<div class="jumbotron">
    <h1 class="display-4">Welcome to Q-LESS</h1>
    <p class="lead">Quick Line and Efficient Service System</p>
    <hr class="my-4">
    <p>Select Transaction</p>
    <div class="row">
        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <button (click)="buyCard()" class="btn btn-primary btn-lg" style="width:100%; margin-bottom: 1px;">
                Buy Card
            </button>
        </div>        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <button (click)="loadCard()" class="btn btn-primary btn-lg" style="width:100%; margin-bottom: 1px;">
                Load Card
            </button>
        </div>        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
            <button (click)="discountRegistration()" class="btn btn-primary btn-lg" style="width:100%; margin-bottom: 1px;">
                Discount Registration
            </button>
        </div>        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 ">
            <button (click)="useCard()" class="btn btn-primary btn-lg" style="width:100%; margin-bottom: 1px;">
                Use Card
            </button>
        </div>
    </div>
</div>